.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 1em;
  box-sizing: border-box;
  color: white;
  background: url(./casa.jpg) center center no-repeat;
  background-size: cover;
  filter: contrast(90%);
}

.hero-title {
  max-width: 16em;
  margin: 0;
  font-size: 12vh;
  font-weight: bold;
  line-height: .9;
}

@media only screen and (min-width: 32em) { 
  .hero-title { font-size: 16vh; } 
}

.hero-footer {
  display: flex;
  margin-bottom: 1em;
}

.button-body {
  padding: .5em .67em;
  color: white;
  text-decoration: none;
  border: .1em solid white;
}

.button-primary {
  color: black;
  background-color: white;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  text-decoration: none;
  color: white;
  font-size: 5vh;
  font-weight: bold;
}

#menu-icon {
  font-family: Geneva, sans-serif;
  font-size: 6vh;
}

.hero {
  font-family: 'PT Sans Caption', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  font-size: 3vh;
}
